<!DOCTYPE html>
<html>

<head>
  <title>newTemplate</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="mainContainer">
    <div class="feedbackContainer">
      <div class="firstBlock">
        <div class="img">
          <img src="../images/butterfly.jpg" class="logo">


        </div>
        <div class="logoName">RealFood</div>
      </div>
      <div class="secondBlock">
        <div class="expirence">How was your expirence?</div>
        <div class="smile1">
          <img src="../images/s.png " class="s1img" />
        </div>
        <div class="smile2">
          <img src="../images/s2.png" class="s2img" />
        </div>
      </div>
      <div class="thirdBlock">
        <div class="numValue"><span>$</span>1,323.60</div>
      </div>
      <div class="fourthBlock">
        <div class="name">
          <div class="nameData">Brownie In A Jar</div>
          <div class="priceData">$140.00</div>
        </div>
        <div class="name">
          <div class="nameData">Black Forest</div>
          <div class="priceData">$140.00 </div>
        </div>
        <div class="name">
          <div class="discData">Chocolate icecream between soft chocolate buns</div>
          <div class="priceData"> </div>
        </div>
        <div class="name">
          <div class="nameData">Classic Banana Split with</div>
          <div class="priceData">$160.00</div>
        </div>
        <div class="name">
          <div class="nameData">Candy</div>
          <div class="priceData"> </div>
        </div>
        <div class="name">
          <div class="nameData">Black Forest</div>
          <div class="priceData"> $140.00 </div>
        </div>
        <div class="name">
          <div class="discData">Chocolate icecream between soft chocolate buns</div>
          <div class="priceData"> </div>
        </div>
      </div>
  </div>
</body>

</html>
